<ion-header>
  <ion-navbar>
    <ion-buttons front>
      <button ion-button icon-only (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="takeImageFromGallery()">
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img *ngIf="!(user | async)?.image" src="http://placehold.it/350x350">
  <img *ngIf="(user | async)?.image" [src]="'data:image/jpg;base64,' + (user | async)?.image">
  <button ion-button block>
    Upload Image
  </button>
</ion-content>
